
h1{
	color:#FFFFFF;
	text-align: center;
	font-size: 70px;
}
table{
	background-color: #FFFFFF;
	margin-left:200px;
	margin-top:10px;
	border:2px solid rgba(250,180,218);
	color: #000000;
}

td{
	border:2px solid rgba(250,180,218);
	
}

th{
	border:2px solid rgba(250,180,218);
	
}

body{
	background-image: url(sakura.jpg);
	background-size:100%;
	background-color: #FFFFFF;
	
}
form{
	border:  border: 2px solid white;
	margin-top: 30px;
	margin-bottom:150px;
	margin-left:200px;
	margin-right:200px;
	border-radius:50px;
	padding:30px;
	background-color: #FFFFFF;
}
label{
	color:#000000;
}
input{
	border-radius:10px;
}
nav{
	text-align:center;
	background-color:rgba(250,180,218,0.3);
	padding:20px;
	color:#FFFFFF;
}
a{
	padding: 50px;
	color:#FFFFFF ;
}
h3{
	background-color:#FFFFFF;
	padding-top:50px;
	padding-bottom:50px;
	margin-left:300px;
	margin-right:300px;
	border-radius:20px;
	padding-left:5px;
}
input[type=submit]{
	color:#FFFFFF;
	text-align: center;
	border-color:rgba(250,180,218);
	background-color:rgba(250,180,218);
}

.branco{
	color:#FFFFFF;
}
